/*************************************************************/
/********************* TABLE OF CONTENTS *********************/
/*************************************************************/
/**                                                         **/
/** General Styles                                          **/
/** Generic Styles                                          **/
/** Typography                                              **/
/** Regions                                                 **/
/**  - Region & Block Spacings                              **/
/**  - Header                                               **/
/** Menus                                                   **/
/**  - Nav                                                  **/
/**  - Mav Pills                                            **/
/**  - Main Menu                                            **/
/** Highlighted                                             **/
/*+  - Highlighted Text                                     **/
/**  - Highlighted Image                                    **/
/**  - Highlighted Slider                                   **/
/**  - Highlighted Image Blog                               **/
/**  - Highlighted Blog Single                              **/
/** Portfolio                                               **/
/**  - Portfolio Block                                      **/
/**  - Portfolio Slider Block                               **/
/** Blog                                                    **/
/**  - Blog Single                                          **/
/** Team                                                    **/
/** Panels                                                  **/
/** Comments                                                **/
/** Pagination                                              **/
/** Tabs                                                    **/
/** Accordions                                              **/
/** Wells                                                   **/
/** Buttons                                                 **/
/** Labels                                                  **/
/** Alerts                                                  **/
/** Popovers                                                **/
/** Progress Bars                                           **/
/** Forms                                                   **/
/** Colors & Backgrounds                                    **/
/**  - Text Color Palette                                   **/
/**  - Text Colors                                          **/
/**  - Background Colors                                    **/
/**  - Background Images                                    **/
/**                                                         **/
/*************************************************************/
/*************************************************************/



/*************************************************************/
/*********************** General Styles **********************/
/*************************************************************/

body {
  color: #666;
  font-size: 1.6em;
  line-height: 1.6em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  word-wrap: break-word;
  letter-spacing: 0;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

a:hover,
a:focus,
a:active {
  color: #2b2b2b;
  text-decoration: none;
}



/*************************************************************/
/*********************** Generic Styles **********************/
/*************************************************************/

.margin-0         { margin: 0; }
.margin-left-0    { margin-left: 0; }
.margin-top-0     { margin-top: 0; }
.margin-right-0   { margin-right: 0; }
.margin-bottom-0  { margin-bottom: 0; }

.margin-5         { margin: 5px; }
.margin-left-5    { margin-left: 5px; }
.margin-top-5     { margin-top: 5px; }
.margin-right-5   { margin-right: 5px; }
.margin-bottom-5  { margin-bottom: 5px; }

.margin-10        { margin: 10px; }
.margin-left-10   { margin-left: 10px; }
.margin-top-10    { margin-top: 10px; }
.margin-right-10  { margin-right: 10px; }
.margin-bottom-10 { margin-bottom: 10px; }

.margin-15        { margin: 15px; }
.margin-left-15   { margin-left: 15px; }
.margin-top-15    { margin-top: 15px; }
.margin-right-15  { margin-right: 15px; }
.margin-bottom-15 { margin-bottom: 15px; }

.margin-20        { margin: 20px; }
.margin-left-20   { margin-left: 20px; }
.margin-top-20    { margin-top: 20px; }
.margin-right-20  { margin-right: 20px; }
.margin-bottom-20 { margin-bottom: 20px; }

.margin-30        { margin: 30px; }
.margin-left-30   { margin-left: 30px; }
.margin-top-30    { margin-top: 30px; }
.margin-right-30  { margin-right: 30px; }
.margin-bottom-30 { margin-bottom: 30px; }

.margin-40        { margin: 40px; }
.margin-left-40   { margin-left: 40px; }
.margin-top-40    { margin-top: 40px; }
.margin-right-40  { margin-right: 40px; }
.margin-bottom-40 { margin-bottom: 40px; }

.margin-50        { margin: 50px; }
.margin-left-50   { margin-left: 50px; }
.margin-top-50    { margin-top: 50px; }
.margin-right-50  { margin-right: 50px; }
.margin-bottom-50 { margin-bottom: 50px; }

@media (max-width: 1200px) {
  .margin-md-0         { margin: 0; }
  .margin-left-md-0    { margin-left: 0; }
  .margin-top-md-0     { margin-top: 0; }
  .margin-right-md-0   { margin-right: 0; }
  .margin-bottom-md-0  { margin-bottom: 0; }
  
  .margin-md-5         { margin: 5px; }
  .margin-left-md-5    { margin-left: 5px; }
  .margin-top-md-5     { margin-top: 5px; }
  .margin-right-md-5   { margin-right: 5px; }
  .margin-bottom-md-5  { margin-bottom: 5px; }
  
  .margin-md-10        { margin: 10px; }
  .margin-left-md-10   { margin-left: 10px; }
  .margin-top-md-10    { margin-top: 10px; }
  .margin-right-md-10  { margin-right: 10px; }
  .margin-bottom-md-10 { margin-bottom: 10px; }

  .margin-md-15        { margin: 15px; }
  .margin-left-md-15   { margin-left: 15px; }
  .margin-top-md-15    { margin-top: 15px; }
  .margin-right-md-15  { margin-right: 15px; }
  .margin-bottom-md-15 { margin-bottom: 15px; }
  
  .margin-md-20        { margin: 20px; }
  .margin-left-md-20   { margin-left: 20px; }
  .margin-top-md-20    { margin-top: 20px; }
  .margin-right-md-20  { margin-right: 20px; }
  .margin-bottom-md-20 { margin-bottom: 20px; }
  
  .margin-md-30        { margin: 30px; }
  .margin-left-md-30   { margin-left: 30px; }
  .margin-top-md-30    { margin-top: 30px; }
  .margin-right-md-30  { margin-right: 30px; }
  .margin-bottom-md-30 { margin-bottom: 30px; }
  
  .margin-md-40        { margin: 40px; }
  .margin-left-md-40   { margin-left: 40px; }
  .margin-top-md-40    { margin-top: 40px; }
  .margin-right-md-40  { margin-right: 40px; }
  .margin-bottom-md-40 { margin-bottom: 40px; }
  
  .margin-md-50        { margin: 50px; }
  .margin-left-md-50   { margin-left: 50px; }
  .margin-top-md-50    { margin-top: 50px; }
  .margin-right-md-50  { margin-right: 50px; }
  .margin-bottom-md-50 { margin-bottom: 50px; }
}

@media (max-width: 991px) {
  .margin-sm-0         { margin: 0; }
  .margin-left-sm-0    { margin-left: 0; }
  .margin-top-sm-0     { margin-top: 0; }
  .margin-right-sm-0   { margin-right: 0; }
  .margin-bottom-sm-0  { margin-bottom: 0; }
  
  .margin-sm-5         { margin: 5px; }
  .margin-left-sm-5    { margin-left: 5px; }
  .margin-top-sm-5     { margin-top: 5px; }
  .margin-right-sm-5   { margin-right: 5px; }
  .margin-bottom-sm-5  { margin-bottom: 5px; }
  
  .margin-sm-10        { margin: 10px; }
  .margin-left-sm-10   { margin-left: 10px; }
  .margin-top-sm-10    { margin-top: 10px; }
  .margin-right-sm-10  { margin-right: 10px; }
  .margin-bottom-sm-10 { margin-bottom: 10px; }

  .margin-sm-15        { margin: 15px; }
  .margin-left-sm-15   { margin-left: 15px; }
  .margin-top-sm-15    { margin-top: 15px; }
  .margin-right-sm-15  { margin-right: 15px; }
  .margin-bottom-sm-15 { margin-bottom: 15px; }
  
  .margin-sm-20        { margin: 20px; }
  .margin-left-sm-20   { margin-left: 20px; }
  .margin-top-sm-20    { margin-top: 20px; }
  .margin-right-sm-20  { margin-right: 20px; }
  .margin-bottom-sm-20 { margin-bottom: 20px; }
  
  .margin-sm-30        { margin: 30px; }
  .margin-left-sm-30   { margin-left: 30px; }
  .margin-top-sm-30    { margin-top: 30px; }
  .margin-right-sm-30  { margin-right: 30px; }
  .margin-bottom-sm-30 { margin-bottom: 30px; }
  
  .margin-sm-40        { margin: 40px; }
  .margin-left-sm-40   { margin-left: 40px; }
  .margin-top-sm-40    { margin-top: 40px; }
  .margin-right-sm-40  { margin-right: 40px; }
  .margin-bottom-sm-40 { margin-bottom: 40px; }
  
  .margin-sm-50        { margin: 50px; }
  .margin-left-sm-50   { margin-left: 50px; }
  .margin-top-sm-50    { margin-top: 50px; }
  .margin-right-sm-50  { margin-right: 50px; }
  .margin-bottom-sm-50 { margin-bottom: 50px; }
}

@media (max-width: 767px) {
  .margin-xs-0         { margin: 0; }
  .margin-left-xs-0    { margin-left: 0; }
  .margin-top-xs-0     { margin-top: 0; }
  .margin-right-xs-0   { margin-right: 0; }
  .margin-bottom-xs-0  { margin-bottom: 0; }
  
  .margin-xs-5         { margin: 5px; }
  .margin-left-xs-5    { margin-left: 5px; }
  .margin-top-xs-5     { margin-top: 5px; }
  .margin-right-xs-5   { margin-right: 5px; }
  .margin-bottom-xs-5  { margin-bottom: 5px; }
  
  .margin-xs-10        { margin: 10px; }
  .margin-left-xs-10   { margin-left: 10px; }
  .margin-top-xs-10    { margin-top: 10px; }
  .margin-right-xs-10  { margin-right: 10px; }
  .margin-bottom-xs-10 { margin-bottom: 10px; }

  .margin-xs-15        { margin: 15px; }
  .margin-left-xs-15   { margin-left: 15px; }
  .margin-top-xs-15    { margin-top: 15px; }
  .margin-right-xs-15  { margin-right: 15px; }
  .margin-bottom-xs-15 { margin-bottom: 15px; }
  
  .margin-xs-20        { margin: 20px; }
  .margin-left-xs-20   { margin-left: 20px; }
  .margin-top-xs-20    { margin-top: 20px; }
  .margin-right-xs-20  { margin-right: 20px; }
  .margin-bottom-xs-20 { margin-bottom: 20px; }
  
  .margin-xs-30        { margin: 30px; }
  .margin-left-xs-30   { margin-left: 30px; }
  .margin-top-xs-30    { margin-top: 30px; }
  .margin-right-xs-30  { margin-right: 30px; }
  .margin-bottom-xs-30 { margin-bottom: 30px; }
  
  .margin-xs-40        { margin: 40px; }
  .margin-left-xs-40   { margin-left: 40px; }
  .margin-top-xs-40    { margin-top: 40px; }
  .margin-right-xs-40  { margin-right: 40px; }
  .margin-bottom-xs-40 { margin-bottom: 40px; }
  
  .margin-xs-50        { margin: 50px; }
  .margin-left-xs-50   { margin-left: 50px; }
  .margin-top-xs-50    { margin-top: 50px; }
  .margin-right-xs-50  { margin-right: 50px; }
  .margin-bottom-xs-50 { margin-bottom: 50px; }
}

.padding-0         { padding: 0; }
.padding-left-0    { padding-left: 0; }
.padding-top-0     { padding-top: 0; }
.padding-right-0   { padding-right: 0; }
.padding-bottom-0  { padding-bottom: 0; }

.padding-5         { padding: 5px; }
.padding-left-5    { padding-left: 5px; }
.padding-top-5     { padding-top: 5px; }
.padding-right-5   { padding-right: 5px; }
.padding-bottom-5  { padding-bottom: 5px; }

.padding-10        { padding: 10px; }
.padding-left-10   { padding-left: 10px; }
.padding-top-10    { padding-top: 10px; }
.padding-right-10  { padding-right: 10px; }
.padding-bottom-10 { padding-bottom: 10px; }

.padding-15        { padding: 15px; }
.padding-left-15   { padding-left: 15px; }
.padding-top-15    { padding-top: 15px; }
.padding-right-15  { padding-right: 15px; }
.padding-bottom-15 { padding-bottom: 15px; }

.padding-20        { padding: 20px; }
.padding-left-20   { padding-left: 20px; }
.padding-top-20    { padding-top: 20px; }
.padding-right-20  { padding-right: 20px; }
.padding-bottom-20 { padding-bottom: 20px; }

.padding-30        { padding: 30px; }
.padding-left-30   { padding-left: 30px; }
.padding-top-30    { padding-top: 30px; }
.padding-right-30  { padding-right: 30px; }
.padding-bottom-30 { padding-bottom: 30px; }

.padding-40        { padding: 40px; }
.padding-left-40   { padding-left: 40px; }
.padding-top-40    { padding-top: 40px; }
.padding-right-40  { padding-right: 40px; }
.padding-bottom-40 { padding-bottom: 40px; }

.padding-50        { padding: 50px; }
.padding-left-50   { padding-left: 50px; }
.padding-top-50    { padding-top: 50px; }
.padding-right-50  { padding-right: 50px; }
.padding-bottom-50 { padding-bottom: 50px; }

@media (max-width: 1200px) {
  .padding-md-0         { padding: 0; }
  .padding-left-md-0    { padding-left: 0; }
  .padding-top-md-0     { padding-top: 0; }
  .padding-right-md-0   { padding-right: 0; }
  .padding-bottom-md-0  { padding-bottom: 0; }
  
  .padding-md-5         { padding: 5px; }
  .padding-left-md-5    { padding-left: 5px; }
  .padding-top-md-5     { padding-top: 5px; }
  .padding-right-md-5   { padding-right: 5px; }
  .padding-bottom-md-5  { padding-bottom: 5px; }
  
  .padding-md-10        { padding: 10px; }
  .padding-left-md-10   { padding-left: 10px; }
  .padding-top-md-10    { padding-top: 10px; }
  .padding-right-md-10  { padding-right: 10px; }
  .padding-bottom-md-10 { padding-bottom: 10px; }

  .padding-md-15        { padding: 15px; }
  .padding-left-md-15   { padding-left: 15px; }
  .padding-top-md-15    { padding-top: 15px; }
  .padding-right-md-15  { padding-right: 15px; }
  .padding-bottom-md-15 { padding-bottom: 15px; }
  
  .padding-md-20        { padding: 20px; }
  .padding-left-md-20   { padding-left: 20px; }
  .padding-top-md-20    { padding-top: 20px; }
  .padding-right-md-20  { padding-right: 20px; }
  .padding-bottom-md-20 { padding-bottom: 20px; }
  
  .padding-md-30        { padding: 30px; }
  .padding-left-md-30   { padding-left: 30px; }
  .padding-top-md-30    { padding-top: 30px; }
  .padding-right-md-30  { padding-right: 30px; }
  .padding-bottom-md-30 { padding-bottom: 30px; }
  
  .padding-md-40        { padding: 20px; }
  .padding-left-md-40   { padding-left: 20px; }
  .padding-top-md-40    { padding-top: 20px; }
  .padding-right-md-40  { padding-right: 20px; }
  .padding-bottom-md-40 { padding-bottom: 20px; }
  
  .padding-md-50        { padding: 50px; }
  .padding-left-md-50   { padding-left: 50px; }
  .padding-top-md-50    { padding-top: 50px; }
  .padding-right-md-50  { padding-right: 50px; }
  .padding-bottom-md-50 { padding-bottom: 50px; }
}

@media (max-width: 991px) {
  .padding-sm-0         { padding: 0; }
  .padding-left-sm-0    { padding-left: 0; }
  .padding-top-sm-0     { padding-top: 0; }
  .padding-right-sm-0   { padding-right: 0; }
  .padding-bottom-sm-0  { padding-bottom: 0; }
  
  .padding-sm-5         { padding: 5px; }
  .padding-left-sm-5    { padding-left: 5px; }
  .padding-top-sm-5     { padding-top: 5px; }
  .padding-right-sm-5   { padding-right: 5px; }
  .padding-bottom-sm-5  { padding-bottom: 5px; }
  
  .padding-sm-10        { padding: 10px; }
  .padding-left-sm-10   { padding-left: 10px; }
  .padding-top-sm-10    { padding-top: 10px; }
  .padding-right-sm-10  { padding-right: 10px; }
  .padding-bottom-sm-10 { padding-bottom: 10px; }

  .padding-sm-15        { padding: 15px; }
  .padding-left-sm-15   { padding-left: 15px; }
  .padding-top-sm-15    { padding-top: 15px; }
  .padding-right-sm-15  { padding-right: 15px; }
  .padding-bottom-sm-15 { padding-bottom: 15px; }
  
  .padding-sm-20        { padding: 20px; }
  .padding-left-sm-20   { padding-left: 20px; }
  .padding-top-sm-20    { padding-top: 20px; }
  .padding-right-sm-20  { padding-right: 20px; }
  .padding-bottom-sm-20 { padding-bottom: 20px; }
  
  .padding-sm-30        { padding: 30px; }
  .padding-left-sm-30   { padding-left: 30px; }
  .padding-top-sm-30    { padding-top: 30px; }
  .padding-right-sm-30  { padding-right: 30px; }
  .padding-bottom-sm-30 { padding-bottom: 30px; }
  
  .padding-sm-40        { padding: 40px; }
  .padding-left-sm-40   { padding-left: 40px; }
  .padding-top-sm-40    { padding-top: 40px; }
  .padding-right-sm-40  { padding-right: 40px; }
  .padding-bottom-sm-40 { padding-bottom: 40px; }
  
  .padding-sm-50        { padding: 50px; }
  .padding-left-sm-50   { padding-left: 50px; }
  .padding-top-sm-50    { padding-top: 50px; }
  .padding-right-sm-50  { padding-right: 50px; }
  .padding-bottom-sm-50 { padding-bottom: 50px; }
}

@media (max-width: 767px) {
  .padding-xs-0         { padding: 0; }
  .padding-left-xs-0    { padding-left: 0; }
  .padding-top-xs-0     { padding-top: 0; }
  .padding-right-xs-0   { padding-right: 0; }
  .padding-bottom-xs-0  { padding-bottom: 0; }
  
  .padding-xs-5         { padding: 5px; }
  .padding-left-xs-5    { padding-left: 5px; }
  .padding-top-xs-5     { padding-top: 5px; }
  .padding-right-xs-5   { padding-right: 5px; }
  .padding-bottom-xs-5  { padding-bottom: 5px; }
  
  .padding-xs-10        { padding: 10px; }
  .padding-left-xs-10   { padding-left: 10px; }
  .padding-top-xs-10    { padding-top: 10px; }
  .padding-right-xs-10  { padding-right: 10px; }
  .padding-bottom-xs-10 { padding-bottom: 10px; }

  .padding-xs-15        { padding: 15px; }
  .padding-left-xs-15   { padding-left: 15px; }
  .padding-top-xs-15    { padding-top: 15px; }
  .padding-right-xs-15  { padding-right: 15px; }
  .padding-bottom-xs-15 { padding-bottom: 15px; }
  
  .padding-xs-20        { padding: 20px; }
  .padding-left-xs-20   { padding-left: 20px; }
  .padding-top-xs-20    { padding-top: 20px; }
  .padding-right-xs-20  { padding-right: 20px; }
  .padding-bottom-xs-20 { padding-bottom: 20px; }
  
  .padding-xs-30        { padding: 30px; }
  .padding-left-xs-30   { padding-left: 30px; }
  .padding-top-xs-30    { padding-top: 30px; }
  .padding-right-xs-30  { padding-right: 30px; }
  .padding-bottom-xs-30 { padding-bottom: 30px; }
  
  .padding-xs-40        { padding: 40px; }
  .padding-left-xs-40   { padding-left: 40px; }
  .padding-top-xs-40    { padding-top: 40px; }
  .padding-right-xs-40  { padding-right: 40px; }
  .padding-bottom-xs-40 { padding-bottom: 40px; }
  
  .padding-xs-50        { padding: 50px; }
  .padding-left-xs-50   { padding-left: 50px; }
  .padding-top-xs-50    { padding-top: 50px; }
  .padding-right-xs-50  { padding-right: 50px; }
  .padding-bottom-xs-50 { padding-bottom: 50px; }
}

.position-relative { position: relative; }

.img-responsive { display: inline-block; }
.img-full-width { width: 100%; }
.img-bottom { margin-bottom: -120px; }

.overlay {
  background: rgba(0,0,0,.5);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.overlay.overlay-30 {
  background: rgba(0,0,0,.3);
}

.show { display: block!important; }
.hide { display: none!important; }

.fade-in { display: none; }

@media (max-width: 1200px) {
  .text-left-md   { text-align: left; }
  .text-center-md { text-align: center; }
  .text-right-md  { text-align: right; }
}

@media (max-width: 991px) {
  .text-left-sm   { text-align: left; }
  .text-center-sm { text-align: center; }
  .text-right-sm  { text-align: right; }
}

@media (max-width: 767px) {
  .text-left-xs   { text-align: left; }
  .text-center-xs { text-align: center; }
  .text-right-xs  { text-align: right; }
}



/*************************************************************/
/************************* Typography ************************/
/*************************************************************/

.size-16  { font-size: 16px; }
.size-32  { font-size: 32px; }
.size-48  { font-size: 48px; }
.size-64  { font-size: 64px; }
.size-128 { font-size: 128px; }

.text-bold { font-weight: 700; }

small, .small { font-size: 80%; }

.raleway-font     { font-family: 'Raleway', sans-serif; }
.source-sans-font { font-family: 'Source Sans Pro', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', serif;
  font-weight: 400;
  color: #2b2b2b;
  margin: 1.2em 0 1em;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0;
}

h1 { font-size: 3em; }
h2 { font-size: 2.5em; }
h3 { font-size: 2em; }
h4 { font-size: 1.6em; }
h5 { font-size: 1.3em; }
h6 { font-size: 1.2em; }

p, span {
  font-size: 1em;
  line-height: 1.6em;
}

p:last-child {
  margin-bottom: 0;
}

.page-title h1 {
  margin: 0;
  font-size: 1.6em;
}

.icon {
  display: inline-block;
  line-height: 1;
}

.icon-list {
  list-style: none;
}

.icon-list li {
  position: relative;
}

.icon-list i {
  font-size: 0.8em;
  position: absolute;
  left: -2em;
  width: 2em;
  top: 0.5em;
}

ul.tags {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.tags li{
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 20px;
}

ul.tags li:last-child {
  margin-right: 0px;
}

.list-inline {
  margin-left: 0;
}



/*************************************************************/
/************************** Regions **************************/
/*************************************************************/

/** Region & Block Spacings **/
@media (max-width: 767px) {
  .region,
  .block {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

@media (min-width: 767px) {
  .region,
  .block {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.region-0 .region,
.region-0.region,
.block-0 .block,
.block-0.block {
  padding-top: 0;
  padding-bottom: 0;
}

.region-5 .region,
.region-5.region,
.block-5 .block,
.block-5.block {
  padding-top: 5px;
  padding-bottom: 5px;
}

.region-10 .region,
.region-10.region,
.block-10 .block,
.block-10.block {
  padding-top: 10px;
  padding-bottom: 10px;
}

.region-15 .region,
.region-15.region,
.block-15 .block,
.block-15.block {
  padding-top: 15px;
  padding-bottom: 15px;
}

.region-30 .region,
.region-30.region,
.block-30 .block,
.block-30.block {
  padding-top: 30px;
  padding-bottom: 30px;
}

.region-50 .region,
.region-50.region,
.block-50 .block,
.block-50.block {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 991px) {

  .region-top-sm-0 .region    { padding-top: 0; }
  .region-bottom-sm-0 .region { padding-bottom: 0; }

}

/** Header **/
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: transparent;
  -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}

@media (max-width: 767px) {

  header {
    opacity: 1;
    background-color: rgba(255,255,255,.95);
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,.2);
            box-shadow: 0 0 4px rgba(0,0,0,.2);
  }

}

.header-invisible {
  opacity: 0;
}

.stuck {
  opacity: 1;
  background-color: rgba(255,255,255,.95);
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,.2);
          box-shadow: 0 0 4px rgba(0,0,0,.2);
}

.header-fixed {
  opacity: 1;
  background-color: rgba(255,255,255,.95);
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,.2);
          box-shadow: 0 0 4px rgba(0,0,0,.2);
}

@media (max-width: 767px) {
  .below-header {
    padding-top: 80px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .below-header {
    padding-top: 110px;
  }
}

@media (min-width: 991px) {
  .below-header {
    padding-top: 60px;
  }
}

@media (max-width: 767px) {
  .well-below-header {
    padding-top: 120px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .well-below-header {
    padding-top: 140px;
  }
}

@media (min-width: 991px) {
  .well-below-header {
    padding-top: 120px;
  }
}

/*************************************************************/
/*************************** Menus ***************************/
/*************************************************************/

/** Nav **/
.nav > li > a {
  padding-left: 0;
}

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: transparent;
}

/** Nav Pills **/
.nav-pills li {
  float: none;
  display: inline-block;
}

.nav-pills > li+li {
  margin-left: 30px;
}

.nav-pills > li > a {
  color: #2b2b2b;
  padding: 0;
  -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}

.nav-pills > li > a:hover,
.nav-pills > li > a:focus,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: transparent;
}

@media (max-width: 767px) {

  .nav-pills li {
    display: block;
  }

  .nav-pills > li+li {
    margin-left: 0px;
    margin-top: 5px;
  }

}

/** Main Menu **/
.main-menu {
  padding: 0;
  margin: 0;
  border: 0;
  z-index: 10;
}

.main-menu .navbar-right .dropdown-menu {
  left: 0;
  right: auto;
}

.main-menu .nav > li > a {
  padding: 30px 20px;
}

.main-menu .nav > li:last-child > a {
  padding-right: 0;
}

.main-menu a,
.main-menu .active > a,
.main-menu .nav .open > a,
.main-menu .nav .open > a:hover,
.main-menu .nav .open > a:focus,
.main-menu .nav > li > a:hover,
.main-menu .nav > li > a:focus,
.main-menu .nav > li:hover > a,
.main-menu .nav > li:focus > a {
  color: #2b2b2b;
  background-color: transparent;
}

.main-menu .dropdown-menu {
  font-size: 0.9em;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  background-color: #222;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.main-menu .dropdown-menu a {
  padding: 12px 20px;
  border-bottom: 1px dotted #2b2b2b;
}

.main-menu .dropdown-menu li:last-child a {
  border-bottom: 0;
}

.main-menu .dropdown-menu > li > a {
  color: #cdcdcd;
  font-weight: 300;
}

.main-menu .dropdown-menu > .active > a,
.main-menu .dropdown-menu > li > a:hover,
.main-menu .dropdown-menu > li > a:focus {
  background-color: #2b2b2b;
}

.main-menu .dropdown-menu > li:hover,
.main-menu .dropdown-menu > .active {
  background: transparent;
}

@media (max-width: 991px) {

  .main-menu .nav > li > a {
    padding-top: 10px;
  }
  
  .main-menu .nav > li:last-child > a {
    padding-right: 20px;
  }
  
  .main-menu .navbar-collapse {
    text-align: center;
    line-height: 10px;
  }
  
  .main-menu .dropdown-menu {
    text-align: left;
  }
  
  .main-menu .navbar-nav {
    float: none!important;
    display: inline-block;
  }
  
  .main-menu .navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 0;
  }

}

@media (min-width: 768px) {
  
  .main-menu .dropdown:hover .dropdown-menu {
    display: block;
  }

}

@media (max-width: 767px) {
  
  .main-menu .navbar-header {
    text-align: right;
  }
  
  .main-menu .navbar-toggle {
    float: none;
    border-radius: 4px;
    color: #fff;
    padding: 8px 25px;
    margin: 20px 0;
  }

  .main-menu .navbar-collapse {
    padding: 0;
    margin-bottom: 20px;
    text-align: right;
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  
  .main-menu .navbar-nav {
    margin: 0;
  }
  
  .main-menu .nav > li > a {
    padding: 8px 25px;
    margin: 0;
  }

  .main-menu .nav > li:last-child > a {
    padding-right: 25px;
  }

  .main-menu .dropdown-menu {
    margin-bottom: 12px;
    text-align: right;
  }

  .main-menu .dropdown-menu a {
    border-bottom: 0;
  }

  .main-menu .dropdown-menu > li > a {
    color: #777;
  }

  .main-menu .navbar-nav .open .dropdown-menu > li > a,
  .main-menu .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 6px 35px;
  }

  .main-menu .dropdown-menu > .active > a,
  .main-menu .dropdown-menu > li > a:hover,
  .main-menu .dropdown-menu > li > a:focus {
    background-color: transparent;
  }
  
}



/*************************************************************/
/************************ Highlighted ************************/
/*************************************************************/

/** Highlighted Text **/
.highlighted-text {
  height: 300px;
}

.highlighted-text-content {
  margin-top: 30px;
}

/** Highlighted Image **/
.highlighted-image {
  height: 700px;
  position: relative;
}

.highlighted-box {
  margin: auto;
  width: 600px;
  background: rgba(255,255,255,.9);
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 80px 30px;
}

.scroll-down {
  font-size: 85%;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}

@media (max-width: 767px) {

  .highlighted-box {
    width: auto;
  }

}

/** Highlighted Slider **/
.highlighted-slider  .owl-theme .owl-controls .owl-pagination {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
}

.highlighted-slider-caption {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
}

.highlighted-slider-box {
  display: inline-block;
  background: rgba(255,255,255,.65);
  padding: 50px;
}

@media (min-width: 768px) and (max-width: 991px) {

  .highlighted-slider-caption {
    margin-top: 40px;
  }

}

@media (max-width: 767px) {

  .highlighted-slider {
    margin-top: 80px;
  }

  .highlighted-slider  .owl-theme .owl-controls .owl-pagination {
    bottom: 5px;
  }

  .highlighted-slider-box {
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px 30px;
  }

  .highlighted-slider-box .highlighted-slider-slogan {
    font-size: 1.2em;
  }

}


/** Highlighted Image Blog **/
.highlighted-image-blog {
  min-height: 350px;
}

/** Highlighted Blog Single **/
.highlighted-blog-single {
  min-height: 300px;
}

.highlighted-blog-single .blog-post-info {
  margin-top: 80px;
  margin-bottom: 25px;
}



/*************************************************************/
/************************* Portfolio *************************/
/*************************************************************/

/** Portfolio Block **/
.portfolio-title {
  margin-top: 20px;
  margin-bottom: 10px;
}

.portfolio-image {
  position: relative;
}

.portfolio-overlay {
  position: absolute;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: rgba(0,0,0,.5);
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

.portfolio-image:hover .portfolio-overlay {
  opacity: 1;
}

.portfolio-overlay p {
  color: #fff;
  position: absolute;
  top: 50%;
  margin-top: -16px;
  width: 100%;
  font-size: 85%;
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

.portfolio-image:hover .portfolio-overlay p {
  margin-top: -8px;
}

.portfolio-overlay .portfolio-info {
  position: absolute;
  bottom: 25px;
  width: 100%;
}

.portfolio-overlay .portfolio-info .portfolio-title {
  color: #fff;
}



/** Portfolio Slider Block **/
@media (max-width: 991px) {

  .portfolio-slider .owl-buttons {
    display: none;
  }

}



/*************************************************************/
/**************************** Blog ***************************/
/*************************************************************/

.blog-title {
  margin-bottom: 0;
}

@media (max-width: 991px) and (min-width: 768px) {

  .blog-title {
    margin-top: 30px!important;
  }

}

.blog-post + .blog-post {
  margin-top: 120px;
}

.blog-post-title {
  margin-bottom: 25px;
  text-align: center;
}

.blog-post-info {
  text-align: center;
  font-size: 0.85em;
}

.blog-post-info li + li {
  padding-left: 30px;
}

.blog-post-content {
  margin-top: 50px;
  margin-bottom: 30px;
}

.blog-post-more {
  font-size: 0.85em;
  text-align: center;
}

/** Blog Single **/
.blog-single-title {
  margin-bottom: 0;
}

@media (max-width: 991px) and (min-width: 768px) {

  .blog-single-title {
    margin-top: 60px!important;
  }

}



/*************************************************************/
/*************************** Team ****************************/
/*************************************************************/

.team-image {
  position: relative;
}

.team-overlay {
  position: absolute;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: rgba(0,0,0,.5);
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

.team-image:hover .team-overlay {
  opacity: 1;
}

.team-social {
  position: absolute;
  margin: 0;
  bottom: 25px;
  left: 0;
  right: 0;
  font-size: 1.2em;
}

.team-social li {
  padding-left: 10px;
  padding-right: 10px;
}

.team-name {
  position: absolute;
  margin: 0;
  bottom: 25px;
  left: 0;
  right: 0;
}



/*************************************************************/
/*************************** Panels **************************/
/*************************************************************/

.panels .panels-icon {
  float: left;
  font-size: 2.5em;
  line-height: 1em;
}

.panels .panels-text {
  margin-left: 60px;
}

.panels .panels-text h6 {
  margin-top: 5px;
  margin-bottom: 15px;
}



/*************************************************************/
/********************** Pricing Tables ***********************/
/*************************************************************/

.pricing-table {
  background-color: white;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 50px 20px;
}

.pricing-table .price {
  margin-top: 45px;
  margin-bottom: 45px;
}



/*************************************************************/
/************************** Comments *************************/
/*************************************************************/

.theme-comments {
  margin-top: 100px;
}

.theme-comments-title {
  text-align: center;
  margin-bottom: 50px;
}

.theme-comment {
  margin-top: 80px;
}

.theme-comment-subject {
  margin-bottom: 10px;
}



/*************************************************************/
/************************* Pagination ************************/
/*************************************************************/

.pagination {
  margin: 120px 0 0;
}

.pagination > li > a,
.pagination > li > span {
  padding: 0 10px;
  margin: 0;
  border: 0;
  background-color: transparent;
  color: #777;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  padding-left: 0;
  padding-right: 20px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  margin-right: 0;
  padding-left: 20px;
  padding-right: 0;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: transparent;
}

.pagination > .disabled > span,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  background-color: transparent;
}



/*************************************************************/
/**************************** Tabs ***************************/
/*************************************************************/

.nav-tabs {
  border: 0;
  margin-bottom: 20px;
}

.nav.nav-tabs > li > a {
  padding: 7px 27px;
}

.nav-tabs > li > a {
  border-radius: 0;
  margin-right: 10px;
  color: #2b2b2b;
}

.nav-tabs > li > a:hover {
  border-color: transparent;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background-color: transparent;
}

.nav-tabs.nav-justified > li > a {
  border-radius: 0;
  border-color: transparent;
  margin-right: 10px;
  color: #2b2b2b;
}

.nav-tabs.nav-justified > li:last-child > a {
  margin-right: 0;
}

.nav-tabs.nav-justified > li > a:hover {
  border-color: transparent;
}

@media (max-width: 767px) {

  .nav-tabs.nav-justified > li > a {
    margin-right: 0;
  }

}



/*************************************************************/
/************************* Accordions ************************/
/*************************************************************/

.panel {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.panel-group:last-child {
  margin-bottom: 0;
}

.panel-group .panel {
  border-radius: 0;
}

.panel-heading {
  border-radius: 0;
}

.panel-body {
  padding: 20px 15px;
}

.panel-default {
  border: 0;
}

.panel-default > .panel-heading {
  color: #2b2b2b;
  background-color: #f6f6f6;
  border: 1px solid #cdcdcd;
}

.panel-default > .panel-heading + .panel-collapse .panel-body {
  border: 0;
}

.panel-primary {
  border: 0;
}

.panel-primary > .panel-heading {
  background-color: transparent;
}

.panel-primary > .panel-heading + .panel-collapse .panel-body {
  border: 0;
}



/*************************************************************/
/*************************** Wells ***************************/
/*************************************************************/

.well {
  background-color: #f6f6f6;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.well:last-child {
  margin-bottom: 0;
}

.well-lg {
  padding: 30px;
}



/*************************************************************/
/************************** Buttons **************************/
/*************************************************************/

.btn {
  color: #fff;
  padding: 10px 40px;
  border: 0;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.1);
          box-shadow: 1px 1px 3px rgba(0,0,0,.1);
  background: transparent;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}

.btn:hover {
  color: #fff;
}

.btn + .btn {
  margin-left: 10px;
}

.btn:focus,
.btn:active,
.btn.active {
  outline: 0;
}

.btn-lg {
  padding: 20px 60px;
  font-size: 1.3em;
  line-height: inherit;
}

.btn-sm,
.btn-xs {
  padding: 10px 20px;
  font-size: 0.8em;
  line-height: normal;
}

.btn-xs {
  padding: 5px 10px;
}

.btn-block + .btn-block {
  margin-top: 20px;
}

.btn-default {
  background-color: #e0e0e0;
  color: #2b2b2b;
  border: 1px solid rgba(0,0,0,.1);
  padding: 9px 39px;
}

.btn-default.btn-lg {
  padding: 19px 59px;
}

.btn-default.btn-sm {
  padding: 9px 19px;
}

.btn-default.btn-xs {
  padding: 4px 9px;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-color: #2b2b2b;
  color: #fff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-color: #2b2b2b;
}

.btn-success {
  background-color: #5cb85c;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-color: #2b2b2b;
}

.btn-info {
  background-color: #5bc0de;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  background-color: #2b2b2b;
}

.btn-warning {
  background-color: #f0ad4e;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  background-color: #2b2b2b;
}

.btn-danger {
  background-color: #d9534f;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  background-color: #2b2b2b;
}

.btn-link {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-link:hover,
.btn-link:focus,
.btn-link:active,
.btn-link.active,
.open .dropdown-toggle.btn-link {
  text-decoration: none;
  color: #2b2b2b;
}

.btn-aqua {
  background-color: #9adada;
}

.btn-aqua:hover,
.btn-aqua:focus,
.btn-aqua:active,
.btn-aqua.active,
.open .dropdown-toggle.btn-aqua {
  background-color: #2b2b2b;
}

.btn-blue {
  background-color: #2d9fc4;
}

.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.active,
.open .dropdown-toggle.btn-blue {
  background-color: #2b2b2b;
}

.btn-brown {
  background-color: #b5825b;
}

.btn-brown:hover,
.btn-brown:focus,
.btn-brown:active,
.btn-brown.active,
.open .dropdown-toggle.btn-brown {
  background-color: #2b2b2b;
}

.btn-emerald {
  background-color: #4fd8bf;
}

.btn-emerald:hover,
.btn-emerald:focus,
.btn-emerald:active,
.btn-emerald.active,
.open .dropdown-toggle.btn-emerald {
  background-color: #2b2b2b;
}

.btn-green {
  background-color: #c5b933;
}

.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green.active,
.open .dropdown-toggle.btn-green {
  background-color: #2b2b2b;
}

.btn-orange {
  background-color: #ee7c3d;
}

.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active,
.btn-orange.active,
.open .dropdown-toggle.btn-orange {
  background-color: #2b2b2b;
}

.btn-red {
  background-color: #e74c3c;
}

.btn-red:hover,
.btn-red:focus,
.btn-red:active,
.btn-red.active,
.open .dropdown-toggle.btn-red {
  background-color: #2b2b2b;
}

.btn-violet {
  background-color: #705ab2;
}

.btn-violet:hover,
.btn-violet:focus,
.btn-violet:active,
.btn-violet.active,
.open .dropdown-toggle.btn-violet {
  background-color: #2b2b2b;
}

.btn-yellow {
  background-color: #f9d65b;
}

.btn-yellow:hover,
.btn-yellow:focus,
.btn-yellow:active,
.btn-yellow.active,
.open .dropdown-toggle.btn-yellow {
  background-color: #2b2b2b;
}



/*************************************************************/
/*************************** Labels **************************/
/*************************************************************/

.label {
  font-weight: normal;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.1);
          box-shadow: 1px 1px 3px rgba(0,0,0,.1);
}

.label-default { background-color: #2b2b2b; }
.label-aqua    { background-color: #9adada; }
.label-blue    { background-color: #2d9fc4; }
.label-brown   { background-color: #b5825b; }
.label-emerald { background-color: #4fd8bf; }
.label-green   { background-color: #c5b933; }
.label-orange  { background-color: #ee7c3d; }
.label-red     { background-color: #e74c3c; }
.label-violet  { background-color: #705ab2; }
.label-yellow  { background-color: #f9d65b; }



/*************************************************************/
/*************************** Alerts **************************/
/*************************************************************/

.alert:last-child {
  margin-bottom: 0;
}



/*************************************************************/
/************************** Popovers *************************/
/*************************************************************/

.popover {
  border-color: #cdcdcd;
  -webkit-box-shadow: none;
          box-shadow: none;
}



/*************************************************************/
/*********************** Progress Bars ***********************/
/*************************************************************/

.progress {
  height: 20px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.1);
          box-shadow: 1px 1px 3px rgba(0,0,0,.1);
  background-color: #fff;
}

.progress:last-child {
  margin-bottom: 0;
}

.progress-title {
  margin-bottom: 5px;
}

.progress-bar {
  padding: 0 10px;
  line-height: 20px;
  font-size: 0.85em;
  text-align: left;
  -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.1);
          box-shadow: 1px 1px 3px rgba(0,0,0,.1);
}

.progress-bar-aqua    { background-color: #9adada; }
.progress-bar-blue    { background-color: #2d9fc4; }
.progress-bar-brown   { background-color: #b5825b; }
.progress-bar-emerald { background-color: #4fd8bf; }
.progress-bar-green   { background-color: #c5b933; }
.progress-bar-orange  { background-color: #ee7c3d; }
.progress-bar-red     { background-color: #e74c3c; }
.progress-bar-violet  { background-color: #705ab2; }
.progress-bar-yellow  { background-color: #f9d65b; }



/*************************************************************/
/*************************** Forms ***************************/
/*************************************************************/

.form-group {
  margin-bottom: 20px;
}

.form-group:last-child {
  margin-bottom: 0;
}

select.form-control,
.form-control {
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.1);
  border-radius: 0;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.1);
          box-shadow: 0 1px 0 rgba(0,0,0,.1);
  background: transparent;
  -webkit-transition: all ease-in-out 0.3s;
          transition: all ease-in-out 0.3s;
}

.form-control:focus {
  border-color: rgba(0,0,0,.1);
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

textarea,
input[type="text"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="password"],
input[type="tel"],
input[type="number"] {
  -webkit-appearance: none;
}



/*************************************************************/
/******************** Colors & Backgrounds *******************/
/*************************************************************/

/** Text Color Palette **/
.text-color-light,
.text-color-light h1,
.text-color-light h2,
.text-color-light h3,
.text-color-light h4,
.text-color-light h5,
.text-color-light h6,
.text-color-light a:hover,
.text-color-light a:focus,
.text-color-light a:active,
.text-color-light .btn-link:hover,
.text-color-light .btn-link:focus,
.text-color-light .btn-link:active,
.text-color-light .btn-link.active,
.text-color-light .open .dropdown-toggle.btn-link {
  color: #f0f0f0;
}

.text-color-light .label-default {
  color: #2b2b2b;
  background-color: #f0f0f0;
}

/** Text Colors **/
.text-color-grayDark1 { color: #2b2b2b; }
.text-color-aqua      { color: #9adada; }
.text-color-blue      { color: #2d9fc4; }
.text-color-brown     { color: #b5825b; }
.text-color-emerald   { color: #4fd8bf; }
.text-color-green     { color: #c5b933; }
.text-color-orange    { color: #ee7c3d; }
.text-color-red       { color: #e74c3c; }
.text-color-violet    { color: #705ab2; }
.text-color-yellow    { color: #f9d65b; }

/** Background Colors **/
.bg-color-grayDark1    { background-color: #222222; }
.bg-color-grayDark2    { background-color: #2b2b2b; }
.bg-color-grayLight1   { background-color: #f6f6f6; }
.bg-color-grayLight2   { background-color: #eeeeee; }
.bg-color-grayLight3   { background-color: #e0e0e0; }
.bg-color-aqua         { background-color: #9adada; }
.bg-color-blue         { background-color: #2d9fc4; }
.bg-color-brown        { background-color: #b5825b; }
.bg-color-emerald      { background-color: #4fd8bf; }
.bg-color-green        { background-color: #c5b933; }
.bg-color-orange       { background-color: #ee7c3d; }
.bg-color-red          { background-color: #e74c3c; }
.bg-color-violet       { background-color: #705ab2; }
.bg-color-yellow       { background-color: #f9d65b; }

/** Background Images **/
.bg-image-water {
  background: url('../img/background-images/water.jpg') scroll top no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

/** For retina purposes create a 2x image and uncomment this code **/
/**
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .bg-image-water {
    background-image: url('../img/background-images/water@2x.jpg');
  }
}
**/

.bg-image-field {
  background: url('../img/background-images/field.jpg') scroll top no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

/** For retina purposes create a 2x image and uncomment this code **/
/**
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .bg-image-field {
    background-image: url('../img/background-images/field@2x.jpg');
  }
}
**/

.bg-image-cityfog {
  background: url('../img/background-images/cityfog.jpg') scroll top no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

/** For retina purposes create a 2x image and uncomment this code **/
/**
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .bg-image-cityfog {
    background-image: url('../img/background-images/cityfog@2x.jpg');
  }
}
**/

.bg-image-person {
  background: url('../img/background-images/person.jpg') scroll top no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}


.bg-image-laptop {
  background: url('../img/background-images/laptop.jpg') scroll top no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.icon.heart-red {
  color: #CE2F2F;
}

.contact-icon {
  font-size: 1.7em;
  color: #2d9fc4;
  margin-right: 5px;
}

/** For retina purposes create a 2x image and uncomment this code **/
/**
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .bg-image-person {
    background-image: url('../img/background-images/person@2x.jpg');
  }
}
**/

.person-circle  {
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  margin-top: 65 ;
}