<div id="contact" class="footer-columns region bg-color-grayLight1">
  <div class="container">
    <div class="row">

      <div class="contact-info col-xs-12 col-md-8 col-md-offset-2 text-center block">
        <div class="row">

          <div class="col-xs-12 col-sm-4">
            <h6>Location</h6>
            <p>Central London</p>
          </div>

          <div class="col-xs-12 col-sm-4 margin-top-xs-40">
            <h6>Email</h6>
            <p><a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></p>
          </div>

          <div class="col-xs-12 col-sm-4 margin-top-xs-40">
            <h6>Social</h6>
            <p>
              <a href="https://twitter.com/{{site.author.twitter}}"><i class="contact-icon ion-social-twitter"></i></a>
              
              <a href="http://uk.linkedin.com/pub/{{site.author.linkedin}}"><i class="contact-icon ion-social-linkedin"></i></a>
              <a href="https://github.com/richardgill"><i class="contact-icon ion-social-github"></i></a>
            </p>
          </div>

        </div> <!-- /row -->
      </div> <!-- /contact-info -->

    </div> <!-- /row -->
  </div> <!-- /container -->
</div> <!-- /contact -->
