{% include main.html %}
{% include googleAnalytics.html %}
{% include twitterWidgets.html %}
{% include header.html %}

<div class="blog-content">
  <div class="blog-header-gradient">
    <div class="blog-header overlay" style="background-image: url({{ site.baseurl }}/images/posts/{{ page.header_image}})">
  
    </div>
    <div class="blog-header-content col-xs-12 col-md-6 col-md-offset-3">
      <h1>{{page.title}}</h1>
      <p>{{page.summary}}</p>
      <span class="meta">Published <b>{{ page.date | date: "%-d %B %Y" }}</b></span>
    </div> 
  </div>
  
  <div class="blog-body col-xs-12 col-md-6 col-md-offset-3" >
    {{content}}
  </div>

</div>

<div class="blog-footer col-xs-12 col-md-6 col-md-offset-3" >
  <hr />
  <h4>Written by<h3>
  <h4><a href="/">Richard Gill</a></h3>
  <p>Full stack developer / hacker, with experience in both the corporate and start-up world. I enjoy learning new technologies and working with bright people on exciting ideas.</p>
</div>
{% include footer.html %}