{% include common.html %}

  <section class="content">
    <article>
      <header class="gradient-1 hidden visible animated fadeInDownBig" data-animation="fadeInDownBig">

        <div class="overlay" style="background-image: url({{ site.baseurl }}/images/posts/{{ page.header_image}}); " data-parallax="9"></div>

        <div class="excerpt">

          <span class="title">Richard Gill</span>

          <h1>{{page.title}}</h1>

          <p>{{page.summary}}</p>

          <span class="meta">Published <b>{{ page.date | date: "%-d %B %Y" }}</b></span>

        </div>

      </header>
      <div class="body">
        {{content}}
      </div>
      <footer>
        <div class="author meta">
          <span class="title">Written by</span>

          <h4>Richard Gill</h4>
          <p>Full stack developer / hacker, with experience in both the corporate and start-up world. I enjoy learning new technologies and working with bright people on exciting ideas.</p>
          <a href="mailto:{{ site.author.email }}" title="Send E-Mail">Contact</a>

          <ul>
            <li><a class="icon twitter" href="https://twitter.com/{{site.author.twitter}}"></a></li>
            <li><a class="icon linkedin" href="http://uk.linkedin.com/pub/{{site.author.linkedin}}"></a></li>
          </ul>
        </div>
        <div class="share" data-animation="fadeInUp">

          <span class="title">Share</span>

          <ul>
            <li><a href="https://twitter.com/home?status={{ site.description | truncate: 80 | append: ' ' | append: site.url | append: site.baseurl | append: page.url | uri_escape }} " title="Tweet" class="icon twitter">Tweet</a></li>
            <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.baseurl | prepend: site.url }} " title="Like" class="icon facebook">Like</a></li>
            <li><a href="https://plus.google.com/share?url={{ page.url | prepend: site.baseurl | prepend: site.url }} " title="+1" class="icon google">+1</a></li>
          </ul>

        </div>
		  </footer>
    </article>
  </section>
