<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{{ site.baseurl }}/css/style.css" rel="stylesheet">
<link href="{{ site.baseurl }}/css/normalize.css" rel="stylesheet">
<script src="{{ site.baseurl }}/js/jquery-2.1.1.min.js"></script>
<script src="{{ site.baseurl }}/js/viewportchecker.js"></script>
<script src="{{ site.baseurl }}/js/scripts.js"></script>

  <section class="content">
    <article>
      <header class="gradient-1 hidden visible animated fadeInDownBig" data-animation="fadeInDownBig">
      
        <div class="overlay" style="background-image: url({{ site.baseurl }}/images/posts/{{ page.header_image}}); " data-parallax="9"></div>
      
        <div class="excerpt">
        
          <span class="title">Richard Gill</span>
      
          <h1>{{page.title}}</h1>
          
          <p>{{page.summary}}</p>
          
          <span class="meta">Published <b>{{ page.date | date: "%-d %B %Y" }}</b></span>
        
        </div>
  
      </header>
      <div class="body">
        {{content}}
      </div>
    </article>
  </section>
