{% include main.html %}
{% include googleAnalytics.html %}
{% include twitterWidgets.html %}

{% include header.html %}

<div id="project" class="region below-header">
  <div class="container">
    <h2>{{page.name}}</h2>
    <div class="col-xs-12 block">
      <div class="row">
        <img src="{{page.image}}" class="img-responsive">
        </div>
      <div class="row">
        {{content}}  
      </div>
      
    </div> <!-- /div -->
  </div> <!-- /container -->
</div> <!-- /about -->


{% include footer.html %}